<p>
  <b>name:</b>
  <%= group.name %>
</p>

<p>
  <b>members:</b>
  <%= group.members %>
</p>

<p>
  <%= link_to 'Destroy Group', [group.user, group],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
